<!DOCTYPE html>
<!--<html lang="en">-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>"Погода"</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
<div class="weather" th:data-theme="${fgg}">

    <div class="weather__inner">
        <div class="current">
            <div class="current__city">
                <span th:utext="${city}"></span>
            </div>
            <div class="current__description">
                <span th:utext="${description}"></span>
            </div>
            <div class="current__time">
                <span th:utext="${serverTime}"></span>
            </div>
            <div class="current__temperature">
                <span th:utext="${temp1}"></span> ˚
            </div>
        </div>

        <div class="forecast">
            <div class="forecast__item">
                <div class="forecast__time">Сейчас</div>
                <div class="forecast__icon" th:classappend="${image1}">
                </div>

                <div class="forecast__temperature">
                    <span th:utext="${temp1}"></span> ˚
                </div>
            </div>


            <div class="forecast__item">
                <div class="forecast__time">
                    <span th:utext="${time2}"></span>
                </div>
                <div class="forecast__icon" th:classappend="${image2}">
                </div>

                <div class="forecast__temperature">
                    <span th:utext="${temp2}"></span> ˚
                </div>
            </div>

            <div class="forecast__item">
                <div class="forecast__time">
                    <span th:utext="${time3}"></span>
                </div>
                <div class="forecast__icon" th:classappend="${image3}">
                </div>

                <div class="forecast__temperature">
                    <span th:utext="${temp3}"></span> ˚
                </div>
            </div>

            <div class="forecast__item">
                <div class="forecast__time">
                    <span th:utext="${time4}"></span>
                </div>
                <div class="forecast__icon" th:classappend="${image4}">
                </div>

                <div class="forecast__temperature">
                    <span th:utext="${temp4}"></span> ˚
                </div>
            </div>

            <div class="forecast__item">
                <div class="forecast__time">
                    <span th:utext="${time5}"></span>
                </div>
                <div class="forecast__icon" th:classappend="${image5}">
                </div>

                <div class="forecast__temperature">
                    <span th:utext="${temp5}"></span> ˚
                </div>
            </div>

            <div class="forecast__item">
                <div class="forecast__time">
                    <span th:utext="${time6}"></span>
                </div>
                <div class="forecast__icon" th:classappend="${image6}">
                </div>

                <div class="forecast__temperature">
                    <span th:utext="${temp6}"></span> ˚
                </div>
            </div>

        </div>

        <div class="details">
            <div class="details__row">
                <div class="details__item feelslike">
                    <div class="details__name">ощущается как</div>
                    <div class="details__value">
                        <span th:utext="${feels_like}"></span> ˚
                    </div>
                </div>
                <div class="details__item pressure">
                    <div class="details__name">давление</div>
                    <div class="details__value">
                        <span th:utext="${pressure}"></span>
                        мм. рт. ст.
                    </div>
                </div>
            </div>
            <div class="details__row">
                <div class="details__item humidity">
                    <div class="details__name">влажность</div>
                    <div class="details__value">
                        <span th:utext="${humidity}"></span>
                        %
                    </div>
                </div>
                <div class="details__item wind">
                    <div class="details__name">ветер</div>
                    <div class="details__value">
                        <span th:utext="${speed}"></span>
                        м/с
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>